@font-face {
    font-family: 'Gotham-Book';
    src: url('./fonts/GothamBook.ttf');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('./fonts/gotham-medium-regular.ttf'),
        url('./fonts/gothambold1.ttf');

}



body {
    font-family: $GothamBold;
    font-size: 1.8rem;
    line-height: 1.6;
}

.container {
    max-width: 1175px;
    margin: 0 auto;
    position: relative;
}

.slick-dots li {
    margin-left: 4rem;
}

.slick-dots li button:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    opacity: 1;
    left: -23px;
    top: 40%;
}

.slick-dots li.slick-active button:before {
    background-color: white;
    opacity: 1;
}

.title {
    font-family: $GothamBold;
    font-size: 4.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: $text-color;
    line-height: 4.4rem;
}

.line:before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 1px;
    top: -4rem;
    left: 45%;
    background-color: $text-color;
}

.subtitle {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: $GothamBook;
    color: $text-color;
    line-height: 2.2rem;
}

.text {
    font-family: $OpSans;
    font-size: 1.8rem;
    color: $text-light-color;
}

.btn {
    text-transform: uppercase;
    background-color: transparent;
    border: 1px $text-color solid;
    outline: none;
    color: $text-color;
    line-height: 50px;
    max-width: 19rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: $text-color;
    color: white;
}

.social__list {
    line-height: 40px;
    gap: 1.5rem;
    font-size: 2rem;
    text-align: right;
    color: white;

    .social__item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 6px;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .news .slick-initialized .slick-slide {
        margin-left: 2rem;
    }

    .footer-box {
        min-width: 70%;
    }

    .about:before {

        width: 37%;
        height: 35rem;
        top: 26rem;

    }

    .about:after {

        bottom: 30rem;

        height: 35rem;

    }

    .slick-dots li {
        margin-left: 2rem;
    }

}

@media screen and (max-width: 930px) {
    html {
        font-size: 5px;
    }

    .header__title {

        font-size: 4rem;
    }

    .title {
        font-size: 3rem;
    }

    .news .slick-initialized .slick-slide {
        min-height: 55rem;
    }

    .news .news__box .news__box-title,
    .news__name {
        font-size: 1.5rem;
    }


    .nav {
        width: 95%;

        .nav__logo {
            display: none;
        }
    }

    .nav__menu {
        display: none;
    }

    .menu__list {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.8);
        color: $text-color;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -5%;
        text-align: center;


        &:hover {
            text-decoration: underline;
        }
    }

    .nav__link {
        font-size: 2.2rem;
        font-family: $GothamBold;
        font-weight: 700;
    }

    .nav .menu__list-item :before {
        display: none;
    }



    .nav .menu-btn {
        display: block;
        color: white;
        font-size: 40px;
        background-color: transparent;
        outline: none;
        border: none;
        z-index: 4;
    }

    .nav .open-btn {
        color: $text-color;
    }

    .open {
        display: block;
    }

    .gallery__main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;

    }

    .big-photo {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery__img {
        img {
            min-width: 100%;
            min-height: 100%;

        }
    }

    .footer-box {
        min-width: 85%;
    }
}

@media screen and (max-width: 550px) {

    .header__title {
        text-align: center;
        font-size: 2.3rem;
    }

    .header__subtitle {
        text-align: center;
        font-size: 2.1rem;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }

    .slider1 .slick-dots {
        transform: unset;
        bottom: unset;
        right: unset;
    }

    .about .about__main {
        flex-direction: column;
        margin-top: 5rem;
    }

    .about:before {

        display: none;

    }

    .about:after {

        display: none
    }

    .form__box .contact__content {
        flex-direction: column;
    }

    .footer__nav {
        flex-direction: column;
        gap: 2rem;
        margin-top: -90%;
    }

    .gallery__main {
        display: flex;
        flex-direction: column;

    }

    .line:before,
    .news .news__title:before {
        left: 38%;
    }

    .nav {
        justify-content: space-between;
        padding-top: 1rem;
    }

    .nav__social .social__list {
        display: none;
    }

}