@font-face {
    font-family: 'Gotham-Book';
    src: url('./fonts/GothamBook.ttf');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('./fonts/gotham-medium-regular.ttf'),
        url('./fonts/gothambold1.ttf');

}



body {
    font-family: $GothamBold;
    font-size: 1.8rem;
    line-height: 1.6;
}

.header__title {
    text-align: center;

}

.header__subtitle {
    text-align: center;

}

.container {
    max-width: 1175px;
    margin: 0 auto;
    position: relative;
}

.slick-dots li {
    margin-left: 4rem;
}

.slick-dots li button:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    opacity: 1;
    left: -23px;
    top: 40%;
}

.slick-dots li.slick-active button:before {
    background-color: white;
    opacity: 1;
}

.title {
    font-family: $GothamBold;
    font-size: 4.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: $text-color;
    line-height: 4.4rem;
}

.line:before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 1px;
    top: -4rem;
    left: 45%;
    background-color: $text-color;
}

.subtitle {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: $GothamBook;
    color: $text-color;
    line-height: 2.2rem;
}

.text {
    font-family: $OpSans;
    font-size: 1.8rem;
    color: $text-light-color;
}

.btn {
    text-transform: uppercase;
    background-color: transparent;
    border: 1px $text-color solid;
    outline: none;
    color: $text-color;
    line-height: 50px;
    max-width: 19rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: $text-color;
    color: white;
}

.social__list {
    line-height: 40px;
    gap: 1.5rem;
    font-size: 2rem;
    text-align: right;
    color: white;

    .social__item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
    }
}

.close {
    display: none;
}